<?xml version='1.0' encoding='utf-8'?>
<widget id="ee.apajo.ytrc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YouTube Remote Control</name>
    <description>
        Control Your playlists remotely with a mobile device
    </description>
    <author email="andres@apajo.ee" href="http://www.apajo.ee/">
        Andres Pajo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <feature name="Accelerometer">
            <param name="android-package" value="org.apache.cordova.devicemotion.AccelListener" />
        </feature>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon density="ldpi" src="res/icon/ios/ldpi.png" />
        <icon density="mdpi" src="res/icon/ios/mdpi.png" />
        <icon density="hdpi" src="res/icon/ios/hdpi.png" />
        <icon density="xhdpi" src="res/icon/ios/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/ios/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/ios/xxxhdpi.png" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="000" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="Orientation" value="default" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="EnableWebGL" value="true" />
    <preference name="FullScreen" value="true" />
    <preference name="KeepRunning" value="true" />
    <preference name="ShowTitle" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
    <plugin name="cordova-plugin-autostart" spec="git+https://github.com/ToniKorin/cordova-plugin-autostart.git" />
    <plugin name="cordova-plugin-facebook" spec="^0.2.2">
        <variable name="FACEBOOK_DISPLAY_NAME" value="Youtube Remote Control - Test1" />
        <variable name="FACEBOOK_APP_ID" value="549333892089929" />
    </plugin>
    <plugin name="com.napolitano.cordova.plugin.intent" spec="https://github.com/napolitano/cordova-plugin-intent" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <engine name="android" spec="^7.0.0" />
</widget>
