.main.accelerate
    .main__scroll.scrollbar-macosx
        .main__cont
            block main
            .scrollable
                #content-container
                    include ../pages/login.pug