.container-fluid.half-padding
    .template.template__blank
        .row
            .col-md-12
                .panel.panel-danger
                    .panel-heading
                        h3.panel-title Controls
                    .panel-body
                        .login


.container-fluid.half-padding
    .template.template__blank
        .row
            .col-md-12
                .panel.panel-danger
                    .panel-heading
                        h3.panel-title Playlist
                    .panel-body
                        .list-group
                            a.list-group-item.list-group-item-success(href="#")
                                First item
                            a.list-group-item.list-group-item-success.active(href="#")
                                Second item
                            a.list-group-item.list-group-item-success(href="#")
                                Third item
                            a.list-group-item.list-group-item-default(href="#")
                                Third item
                            a.list-group-item.list-group-item-info(href="#")
                                Third item
                            a.list-group-item.list-group-item-warning(href="#")
                                Third item
                            a.list-group-item.list-group-item-danger(href="#")
                                Third item

                        .btn-group.btn-group-vertical(role="group")
                            button.btn.btn-default(type="button") First
                            button.btn.btn-default(type="button") ssss
                            button.btn.btn-default(type="button") Fir333st