.container-fluid.half-padding
    .template.template__blank
        .row
            .col-md-12
                .panel.panel-danger
                    .panel-heading
                        h3.panel-title Settings
                    .panel-body
                        .login
                            form#settings.settings__form(action='index.html')
                                .form-group
                                    input.form-control(name="name", type='text', placeholder='Server name')
                                .input-group
                                    input.form-control(name="address", type='text', placeholder='127.0.0.1')
                                    .input-group-btn
                                        button.btn.btn-secondary.dropdown-toggle(type="button",data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                            span.caret
                                        ul.dropdown-menu#network-interfaces
                                            li
                                                a(href="#") Action
                                                a(href="#") Action
                                                a(href="#") Action
                                            li.divider (role="separator")


                                .form-group.settings__action
                                    .settings__submit
                                        button.btn.btn-default(type='submit') OK