.main {width: auto; padding:0; margin: 0;}

.header-navbar .topnavbar {padding:0; margin: 0;}
.header-navbar .topnavbar,.header-navbar {min-height: initial}
.dashboard {border-top: 35px solid transparent;}