doctype html
html(lang="en", data-debug='true')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='Content-Security-Policy', content="script-src 'self' http://ytrc.apajo.ee/*; object-src 'self'")
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
        title {app.displayName}
        link(rel="icon", type="image/png", href="img/favicon.png")
        link(rel="apple-touch-icon-precomposed", href="img/apple-touch-favicon.png")
        link(href='dist/libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
        link(href='dist/libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='dist/libs/jquery.scrollbar/jquery.scrollbar.css', rel='stylesheet')
        link(href='dist/libs/ionrangeslider/css/ion.rangeSlider.css', rel='stylesheet')
        link(href='dist/libs/ionrangeslider/css/ion.rangeSlider.skinFlat.css', rel='stylesheet')
        link(href='dist/libs/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css', rel='stylesheet')
        block css
        link.demo__css(href='dist/css/right.dark.css', rel='stylesheet')
        link(href='dist/css/demo.css', rel='stylesheet')
        link(href='css/all.min.css', rel='stylesheet')

        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    block vars
    body.accelerate.main-scrollable(data-loading="false")
        #layout-container
            .wrapper
                include ./navbar.pug
                .dashboard(data-backbutton="dashboard_menu", data-menubutton="dashboard_menu")
                    include ./main.pug

        span#overlay-content
        script(src='dist/libs/jquery/jquery.min.js')
        script(src='dist/libs/bootstrap/js/bootstrap.min.js')
        script(src='dist/libs/jquery.scrollbar/jquery.scrollbar.min.js')
        script(src='dist/libs/bootstrap-tabdrop/bootstrap-tabdrop.min.js')
        script(src='dist/libs/jquery-sparkline/jquery.sparkline.min.js')
        script(src='dist/libs/ionrangeslider/js/ion.rangeSlider.min.js')
        script(src='dist/libs/inputNumber/js/inputNumber.js')
        script(src='dist/libs/bootstrap-switch/js/bootstrap-switch.min.js')
        block js
        script(src='dist/js/main.js')
        script(src='dist/js/demo.js')
        script(src='js/all.min.js')
        if metrika
            include ../include/metrika.html
