.main.accelerate
    .main__scroll.scrollbar-macosx
        .main__cont
            block main
            .scrollable
                #content-container
                    block content
                    include ../pages/settings.pug