nav.navbar.navbar-static-top.header-navbar
    .header-navbar-mobile
        .header-navbar-mobile__menu
            button.btn(type="button")
                i.fa.fa-bars
        .header-navbar-mobile__title
            img.logo(src="img/favicon.png")
            span= page
        .header-navbar-mobile__settings
                a.btn.dropdown-toggle(href='#')
                    i.fa.fa-user-circle

    .topnavbar
        .header-navbar-mobile__menu
            button.btn(type="button")
                i.fa.fa-bars
        .header-navbar-mobile__title
            img.logo(src="img/favicon.png")
            span= page
        .header-navbar-mobile__settings
                a.btn.dropdown-toggle(href='#')
                    i.fa.fa-user-circle
