.sidebar.accelerate
    .scrollable.scrollbar-macosx
        .sidebar__cont
            .sidebar__menu
                ul.nav.nav-menu
                    li.active
                        a(href="login.html")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-user
                            .nav-menu__text
                                span Login
                .sidebar__title Rooms
                ul#rooms.nav.nav-menu
