.main.accelerate
    .main__scroll.scrollbar-macosx
        .main__cont
            block main
            .scrollable.scrollbar-macosx
                #content-container
                    include /html/pages/login.html