.sidebar.accelerate
    .scrollable.scrollbar-macosx
        .sidebar__cont
            .sidebar__menu
                ul.nav.nav-menu
                    li.active
                        a(href="login.html")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-user
                            .nav-menu__text
                                span Login
                    li
                        a(href="blank.html")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-cube
                            .nav-menu__text
                                span Blank
                    li
                        a(href="canvas.html", data-type="layout")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-film
                            .nav-menu__text
                                span Canvas