.login
    form.login__form(action='index.html')
        .login__logo
        .form-group
            input.form-control(type='text', placeholder='Login')
        .form-group
            input.form-control(type='password', placeholder='Password')
        .form-group.login__action
            .checkbox.login__remember
                input#chb1(type='checkbox')
                label(for='chb1') Remember
            .login__submit
                button.btn.btn-default(type='submit') Sign in